{% extends 'base.html.twig' %}

{% block title %}Editer un ingredient{% endblock %}

{% block body %}
    <h1>Editer un ingredient</h1>


    <div class="container rounded-2 shadow-lg" style="background-color: #ffad72">
        {{ include('admin/ingredient/_form.html.twig') }}

        <a href="{{ path('app_admin_ingredient_index') }}" class="btn btn-success m-5" type="button">Retour à la liste</a>

        {{ include('admin/ingredient/_delete_form.html.twig') }}
    </div>

{% endblock %}
