<nav class="navbar navbar-expand-lg shadow-lg" style="background-color: #ffcd39;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/client">Client</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/client">Nos pizzas</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Voir l'espace administration</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/client/allergie">Mes allergies</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav" me-auto mb-2 mb-lg-0>
                <li class="nav-item">
                    <p style="padding-bottom: 0.5rem;padding-top: 0.5rem;">
                        {{ app.user.lastname|capitalize }} {{ app.user.firstname|capitalize }}
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>